* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

:root {
  --fs-body: 0.9375rem;
  --ff-primary: "Inter", sans-serif;
  --ff-secondary: "Lexend Deca", sans-serif;

  --fw-700: 700;
  --fw-400: 400;

  --bg-clr-body: hsl(233, 47%, 7%);
  --bg-clr-card: hsl(244, 38%, 16%);
  --clr-accent: hsl(277, 64%, 61%);
  --clr-white-1: hsl(0, 0%, 100%);
  --clr-white-75: hsl(0, 0%, 100%, 0.75);
  --clr-white-6: hsl(0, 0%, 100%, 0.6);
}

body {
  font-size: var(--fs-body);
  font-family: var(--ff-primary);
  font-weight: var(--fw-400);
  color: var(--clr-white-6);
  background-color: var(--bg-clr-body);
  padding: 2em;
}

/* =====TYPOGRPAHY===== */

h1 {
  font-size: 1.875rem;
  color: var(--clr-white-1);
  margin-bottom: 1.5rem;
  line-height: 1.2;
}

h1 span {
  color: var(--clr-accent);
}

p {
  margin-bottom: 2rem;
  line-height: 1.5;
}

.info-number,
.info-txt {
  font-family: var(--ff-secondary);
}

.info-number {
  font-size: 1.3rem;
  color: var(--clr-white-75);
  font-weight: var(--fw-700);
}

.info-txt {
  text-transform: uppercase;
}

/* =====LAYOUT===== */

.container {
  margin: 6em auto;
  border-radius: 8px;
  background-color: var(--bg-clr-card);
  max-width: 70em;
}

.content-img {
  position: relative;
}

.content-img::after {
  content: "";
  background-color: hsla(277, 70%, 33%, 0.616);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.content-img img {
  display: block;
  max-width: 100%;
}

.content-img .img-mobile {
  border-radius: 8px 8px 0 0;
}

.content-img .img-desktop {
  display: none;
}

.content-body {
  text-align: center;
  padding-bottom: 1em;
}

.content-body-container {
  width: 90%;
  margin: 1.7em auto;
}

.content-body-info {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

/* =====Desktop and tablet layout===== */

@media (min-width: 40em) {
  .container {
    display: flex;
    flex-direction: row;
  }

  .content-img {
    position: relative;
    width: 50%;
    order: 2;
  }

  .content-img .img-mobile {
    display: none;
  }

  .content-img .img-desktop {
    display: block;
    width: 100%;
    min-height: 100%;
    border-radius: 0 8px 8px 0;
  }

  .content-body {
    width: 50%;
    order: 1;
    text-align: center;
  }

  .content-body-container {
    width: 80%;
    margin: 0;
    padding: 4em 0 1em 3.5em;
  }

  /* Breakpoint for tablet size : content-info section */

  .content-body-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}

/* For bigger screen */

@media (min-width: 50em) {
  .content-body {
    text-align: left;
  }

  .content-body-container {
    width: 80%;
    margin: 0;
    padding: 4em 0 1em 3.5em;
  }

  .content-body-container p {
    width: 80%;
    margin-bottom: 3em;
  }

  .content-body-info {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}

footer {
  text-align: center;
  color: var(--clr-white-6);
}

footer a {
  color: var(--clr-accent);
  text-decoration: none;
  position: relative;
}

a::after {
  content: "";
  position: absolute;
  border: 1px solid var(--clr-accent);
  bottom: -2px;
  right: 50px;
  left: 50px;
  transform: rotateX(90deg);
  transition: 0.3s;
}

a:hover::after {
  content: "";
  position: absolute;
  border: 1px solid var(--clr-accent);
  bottom: -2px;
  right: -5px;
  left: -3px;
  transform: rotateX(180deg);
}
